.forget{
    animation: anim 0.5s ease;
}

button{
    margin-right: 600px;
}
.divCode{
    animation: animForget 0.5s ease-in;
}
.passwords{
    animation: animForget 0.5s ease-in;
}
@keyframes animForget {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    50%{
        opacity: 0.5;
        transform: translateY(25px);
    }
    100%{
        opacity: 0;
        transform: translateY(0px);
    }
}

@keyframes anim {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    50%{
        opacity: 0.5;
        transform: translateX(-25px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}